{%for post in posts%}
<div class="roomListRoom">
    <div class="roomListRoom__header">
      <a href="profile.html" class="roomListRoom__author">

        <span>@{{post.host.username}}</span>
      </a>
      <div class="roomListRoom__actions">
        {% if request.user == post.host%}
        <span><a href="{%url 'updatepost' post.id%}">Edit</a> <a href="{%url 'deletepost' post.id%}"> Delete</a></span>
        {%endif%}
      </div>
    </div>
    <div class="roomListRoom__content">
      <a href="{% url 'post' post.id %}">{{post.title}}</a>
      <p>
        {{post.description}}
      </p>
    </div>
    <div class="roomListRoom__meta">
      <a class="roomListRoom__joined">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 2C8.139 2 5 5.139 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.861-3.139-7-7-7zm0 9.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg>        
        {% if post.location %}
        {{post.location}}, {{post.city}}
        {%else%}
        {{post.city}}
        {%endif%}

      </a>
      <p class="roomListRoom__topic">{{post.created|timesince}} ago</p>
    </div>
</div>

{%endfor%}

